{% extends "base.html" %}

{% block content %}
<form class="list">
    <h2>Список департаментов</h2>
    {% for item in list %}
    <div>
        <h4>Department №{{ item[0].id }}
            {% if current_user and (current_user.id == 1 or current_user.id == item[0].chief) %}
                <a href="/add_department/{{ item[0].id }}" style="font-size: 20px; color: #0000ff;">✎</a>
                <a href="/delete_department/{{ item[0].id }}" style="font-size: 20px; color: #ff0000;">❌</a>
            {% endif %}
        </h4>
        <table>
            <tr>
                {% for title in titles %}
                    <th width="{{ column_sizes[ loop.index0 ] }}"> {{ title }} </th>
                {% endfor %}
            </tr>
            <tr>
                {% for value in item[1:] %}
                    <td width="{{ column_sizes[ loop.index0 ] }}"> {{ value }} </td>
                {% endfor %}
            </tr>
        </table>
    </div>
    <blockquote></blockquote>
    {% endfor %}
    <a class="btn" href="/add_department">Добавить</a>
</form>
{% endblock %}